:root {

  --logo-color: #b98389;
  --base-color: #1c1e21;
  --navbar-color: #54494b;
  --part-color: #7e8287;
  --call-to-action-color: #DB2955;
}

* {

  margin: 0;
  padding: 0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {

  background-color: var(--base-color);
}

.content {

  border-radius: 20px;
  padding: 20px;
  background-color: var(--part-color);

}

.navbar {

  background-color: var(--navbar-color);
}

.navbar-brand {

  background-color: var(--logo-color);
  padding: 10px;
  padding-inline: 20px;
  border-radius: 10px;
}

#main {

  margin-top: 100px;
}