h5 {
  color: rgb(255, 175, 1);
  width: fit-content;
  display: inline-block;
}

.like-btn,
.comentar-btn {
  border: 0;
}

.editar,
.borrar {
  float: right;
  border: 0;
  border-radius: 10px;
  padding: 5px;
  margin-inline: 5px;
}

.borrar {
  background-color: rgb(175, 26, 26);
}

.editar {
  background-color: rgb(25, 125, 133);
}

.acciones-div {
  padding: 5px;
  border-radius: 10px;
  background-color: #5e5e5e;
}

.acciones-div button {
  border-radius: 10px;
}

#comentario-field {
  background-color: var(--base-color);
  padding: 8px;
  border: 0;
  border-radius: 8px;
  width: 100%;
}

#comentario-div button {
  margin-top: 8px;
  padding: 5px;
  border: 0;
}

#comentar-btn {
  background-color: var(--call-to-action-color);
}

#cancelar-btn {
  background-color: var(--base-color);
}
